/.vs/config/applicationhost.config
/.vs/P1/v15/.suo
/.vs/P1/v15/Server/sqlite3/db.lock
/.vs/P1/v15/Server/sqlite3/storage.ide
/P1/bin/Debug/netcoreapp1.1/P1.deps.json
/P1/bin/Debug/netcoreapp1.1/P1.dll
/P1/bin/Debug/netcoreapp1.1/P1.pdb
/P1/bin/Debug/netcoreapp1.1/P1.runtimeconfig.dev.json
/P1/bin/Debug/netcoreapp1.1/P1.runtimeconfig.json
/P1/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
/P1/obj/Debug/netcoreapp1.1/P1.AssemblyInfo.cs
/P1/obj/Debug/netcoreapp1.1/P1.AssemblyInfoInputs.cache
/P1/obj/Debug/netcoreapp1.1/P1.csproj.CoreCompileInputs.cache
/P1/obj/Debug/netcoreapp1.1/P1.csproj.FileListAbsolute.txt
/P1/obj/Debug/netcoreapp1.1/P1.csprojResolveAssemblyReference.cache
/P1/obj/Debug/netcoreapp1.1/P1.dll
/P1/obj/Debug/netcoreapp1.1/P1.pdb
/P1/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/P1/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/P1/obj/Debug/netcoreapp1.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/P1/v15/Server/sqlite3/storage.ide-shm
/.vs/P1/v15/Server/sqlite3/storage.ide-wal
