<div class="main-search-control card">
    <div class="card-body">
        <div class="search-input-section input-group">
            <input type="text" class="form-control" placeholder="Наприклад, «Весільна фотосесія»" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">Пошук</button>
            </div>
        </div>
    </div>
</div>